body{
    background-color: blue;
    text-align: center;
}
input{
    margin: 10px;
    background-color: yellow;
    color: indigo;
}
#button1{
    background-color: lightgreen;
    color: royalblue;
}
#button2{
    background-color: lightgreen;
    color: royalblue;
    display: none;
}